<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiekn.bridgehealth.dao.EvaluateReportTempletMapper" >
  <resultMap id="BaseResultMap" type="com.hiekn.bridgehealth.bean.EvaluateReportTemplet" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="bridge_id" property="bridgeId" jdbcType="INTEGER" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hiekn.bridgehealth.bean.EvaluateReportTemplet" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
   
  <insert id="insert" parameterType="com.hiekn.bridgehealth.bean.EvaluateReportTemplet" >
    insert into evaluate_report_templet (id, name, type, 
      bridge_id, tag, content
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{bridgeId,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.hiekn.bridgehealth.bean.EvaluateReportTemplet" >
    update evaluate_report_templet
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      bridge_id = #{bridgeId,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>